{% extends "layout.html" %}
{% block title %}Autoconstruccion{% endblock %}

{% block body %}

<a href="{{ url_for('web.project_index') }}">Proyectos</a>
<a href="{{ url_for('web.user_index') }}">Usuarios</a>

<div class="jumbotron">
  <div class="container">
    <h1>Construye en comunidad</h1>
    <p>...<em> "la ciudadanía vuelva a tener ese papel protagonista que perdió en los últimos años"</em>.
    los españoles se comportaron durante mucho tiempo como simples consumidores de un tipo de urbanismo que les era ofrecido como un producto.
    Ahora, en cambio, Cirugeda pretende que sea la ciudadanía la que diga <em>"el urbanismo lo hacemos nosotros."</em> </p>
    <p><a class="btn btn-primary btn-lg" role="button" href="http://arq.clarin.com/arquitectura/Santiago-Cirugeda-Defensor-autoconstruccion_0_1393061046.html" target="_blank">Leer más</a></p>
  </div>
</div>

<div class="row">
    {% for project in projects %}
    
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <h2>
            <a href="{{ url_for('web.project_view', project_id=project.id) }}">{{ project.name }}</a> <small>({{ project.users|length }})</small>
        </h2>
        <a title="{{ project.name }}" href="{{ url_for('web.project_view', project_id=project.id) }}"><img class="thumbnail img-responsive" src="{{ url_for('web.get_project_image', project_id=project.id) }}"></a>
    </div>
    {% endfor %}
   
    {% if not projects %}
        <h2>There are any project yet</h2>
    {% endif %}

</div>

{% endblock %}
