{% extends "layout.html" %}
{% block title %}Autoconstruccion{% endblock %}

{% block body %}

<a href="{{ url_for('web.project_index') }}">Proyectos</a>
<a href="{{ url_for('web.user_index') }}">Usuarios</a>

<div class="jumbotron">
  <div class="container">
    <h1>Construye en comunidad</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Leer más</a></p>
  </div>
</div>

<div class="row">
    {% for project in projects %}
    
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <h2>
            <a href="{{ url_for('web.project_view', project_id=project.id) }}">{{ project.name }}</a> <small>({{ project.users|length }})</small>
        </h2>
        <a title="{{ project.name }}" href="{{ url_for('web.project_view', project_id=project.id) }}"><img class="thumbnail img-responsive" src="{{ url_for('web.get_project_image', project_id=project.id) }}"></a>
    </div>
    {% endfor %}
   
    {% if not projects %}
        <h2>There are any project yet</h2>
    {% endif %}

</div>

{% endblock %}
