{% extends "layout.html" %}
{% block title %}Autoconstruccion{% endblock %}

{% block body %}

<h1>Autoconstruccion</h1>

<a href="{{ url_for('web.project_index') }}">Proyectos</a>
<a href="{{ url_for('web.user_index') }}">Usuarios</a>

<div class="row">
    {% for project in projects %}
    <h2>
        <a href="{{ url_for('web.project_view', project_id=project.id) }}">{{ project.name }}</a>
    </h2>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="//placehold.it/600x350"></a></div>
    {% endfor %}
   
    {% if not projects %}
        <h2>There are any project yet</h2>
    {% endif %}

</div>

{% endblock %}
