{% extends "admin_layout.html" %}
{% block title %}Autoconstruccion{% endblock %}

{% block sidebar1 %}
				<!-- < li>
                   <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> as</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> ddd</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> bbb</a>
                </li>-->
               
{% endblock %}


{% block body %}
<div id="page-wrapper">
	<div class="row">
		<h1>Proyectos</h1>
		Aquí hay que listar los proyectos directamente :
		 {% for project in projects %}                        
            <td>{{ project.name }}</td>
        {% endfor %}

		<a href="{{ url_for('web.project_index') }}" class="btn btn-primary ">Proyectos</a>
		<!--<a href="{{ url_for('web.user_index') }}" class="btn btn-primary ">Usuarios</a> -->

	</div>
</div>
{% endblock %}
