<!--    <link href="{{ url_for('static', filename='sb-admin/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
-->
    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='sb-admin/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Timeline CSS 
    <link href=".{{ url_for('static', filename='sb-admin/dist/css/timeline.css')}}" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='sb-admin/dist/css/sb-admin-2.css')}}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='sb-admin/bower_components/morrisjs/morris.css')}}" rel="stylesheet">   

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/custom-admin.css')}}" rel="stylesheet">