{% extends "admin_layout.html" %}
{% block title %}Autoconstruccion{% endblock %}

{% block sidebar1 %}

               
{% endblock %}


{% block body %}
<div id="page-wrapper">
	<div class="row">
		<h1>Habilidades actuales</h1>

		 {% for project in projects %}    
		 	<div class="row">
				<div class="col-md-3">
					<a href="{{ url_for('web.project_edit', project_id=project.id) }}">
			        <div class="panel panel-primary panel-project">	        	
			            <div class="panel-heading" style="background-image:url({{url_for('static', filename='img/FOTO1.png')}})">			                
			            </div>	            
		                <div class="panel-footer">
		                    <span class="pull-left">{{ project.name }}</span>
		                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                    <div class="clearfix"></div>
		                </div>			           
			        </div>
			        </a>
		    	</div>
		    </div>
        {% endfor %}
        
	</div>

	<div class="row">
		<h2> Añadir nueva</h2>

		 
        <!-- Aquí se renderiza el formulario: imagen descripcion y habilidad -->
	</div>


    	(Dejo este boton mientras para poder acceder al listado anterior)<br/>
		<a href="{{ url_for('web.project_index') }}" class="btn btn-primary ">Proyectos</a>
		<!--<a href="{{ url_for('web.user_index') }}" class="btn btn-primary ">Usuarios</a> -->

	</div>
</div>
{% endblock %}
