{% extends "layout.html" %}
{% block title %}Join to project{% endblock %}

{% block body %}

<h1><a href="{{ url_for('web.project_view', project_id=project.id) }}">{{ project.name }}</a> </h1>
<h2>Join to the project!</h2>

<div class="col-lg-12">

    <p>Please fill this form in order to contact with your</p>
    
{% from "_formhelpers.html" import render_field %}
		<form role="form" action="{{ url_for('web.project_join', project_id=project.id) }}" method="POST">

{{ form.hidden_tag() }}


            {{ render_field( form.full_name) }}

            {{ render_field( form.email  ) }}

            {{ render_field( form.phone_number  ) }}

            {{ render_field( form.abilities  ) }}

            {{ render_field( form.availability  ) }}

            {{ render_field( form.tools  ) }}            

            {{ render_field( form.materials  ) }}            


		    <div class="row">
                <a href="{{ url_for('web.project_view', project_id=project.id) }}" class="btn btn-default">I'm not interested</a>
		        <button type="submit" class="btn btn-primary pull-right">Submit</button>
		    </div>
		</form>


</div>
{% endblock %}
