{% extends "layout.html" %}
{% block title %}Projects{% endblock %}

{% block body %}

<div class="project-page">

<div class="row">
    <div class="col-sm-12">
        <div class="project-header-block block-wrapper" style="background-image: url('{{ url_for('web.get_project_image', project_id=project.id) }}')">
            <div class="block-inner">
                <h2>
                    {{ project.name|truncate(30)  }}
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-sm-9">
         <div class="white-bg block-wrapper">
            <div class="block-inner">
                <p class="textos-descripcion ">{{ project.description }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <a href="{{ url_for('web.project_join', project_id=project.id) }}" class="btn btn-primary btn-lg btn-apunta">¡Apúntate!</a>
    </div>

</div>


<div class="row">
    <div class="col-md-6">
        <div class="block-wrapper white-bg">
            <div class="block-inner">
                <h3 class="dark">Location</h3>
                <a href="http://maps.google.com/maps?q={{ project.location|replace(' ','+')  }}" target="_blank">
                     <img src="https://maps.googleapis.com/maps/api/staticmap?v=2&center={{ project.location|replace(' ','+') }}&size=400x200&zoom=15">
                </a>
                <address>
                    <strong>Location</strong><br>
                    {{ project.location }}<br/>
                </address>

                <a href="http://maps.google.com/maps?q={{ project.location|replace(' ','+') }}" target="_blank">View map</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
         <div class="block-wrapper white-bg">
            <div class="block-inner">

                <h3 class="dark">Events</h3>
                {% for event in project.events %}
                <div class="row">
                    <div class="col-md-4">
                        <h3><span class="label label-info">
                            <a title="{{ event.name }}" href="{{ url_for('web.event_view', project_id=event.project_id, event_id=event.id) }}">
                                {{ event.start_date }}                             </a>
                        </span></h3>
                        <a href="{{ url_for('web.event_join', project_id=event.project.id, event_id=event.id) }}" class="btn btn-primary" >Apúntame al evento</a>
                    </div>
                    <div class="col-md-7">
                        <strong>{{ event.name }}(<i class="fa fa-group"></i> {{ event.users|length }}  )
</strong><br>
                        <em>{{ project.location }}</em><br>
                        <span class="small">10:00 AM</span>
                    </div>
                </div>
                {% endfor %}
                {% if not project.events %}
<p>There are any event yet</p>
{% endif %}
            </div>
        </div>

    </div>
</div>



        



<div class="row">
    <div class="col-md-6">
        <div class="block-wrapper white-bg">
            <div class="block-inner">
                <h3 class="dark">Participantes inscritos ({{ project.users|length }})</h3>
                <div class="list-group">
                {% for volunteer in project.users %}
                    <div class="media">
                        <a href="#" class="pull-left">        
                            <img alt="64x64" class="media-object img-thumbnail" style="width: 64px; height: 64px;" src="{{ url_for('static', filename='img/worker.png') }}">
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading"><strong>{{ volunteer.full_name }}</strong></h4>
                        </div>
                    </div>  
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

</div> <!-- project page !-->
{% endblock %}


{% block script_custom %}
{% endblock %}
