{% extends "layout.html" %}
{% block title %}Autoconstrucci&oacute;n{% endblock %}
{% block navigation %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-6">
        <div class="gray-bg block-wrapper">
            <div class="block-inner">
                <img src="{{url_for('static', filename='img/logo1_transp.png')}}">
                <p>
                Desde esta plataforma podrás apuntarte y participar en los procesos de autoconstrucción del estudio “recetas Urbanas”
                </p>
            </div>
        </div>
    </div>
        <div class="col-sm-6">
            {{ if  }}
            {% if current_user.is_authenticated %}
                <a role="button"  class="btn btn-warning" style="float:right" href="{{ url_for('admin.admin_index') }}">Mi cuenta<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
            {% else %}
                <a role="button"  class="btn btn-warning" style="float:right" href="{{ url_for('admin.admin_index') }}">Entrar/Registro <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
            {% endif %}
        </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="yellow-bg block-wrapper">
            <div class="block-inner">
                <h1> PROYECTOS <br/> EN CURSO </h1>
            </div>
        </div>
    </div>
    {% for project in projects %}
    
    <div class="col-sm-6">
        <a href="{{ url_for('web.project_view', project_id=project.id) }}">
            <div class="project-thumbnail-block block-wrapper" style="background-image: url('{{ url_for('web.get_project_image', project_id=project.id) }}')">
                <div class="block-inner">
                    <h2>
                        {{ project.name|truncate(30)  }}
                    </h2>

                </div>
                <div class="project-thumbnail-info">
                    <h5 class="place"> 
                        {{ project.location }}
                    </h5>
                    <h5 class="date">
                        Fecha <!-- TODO reemplazar fecha real -->
                    </h5>
                </div>
            </div>
        </a>
       <!-- <h2>
            <a href="{{ url_for('web.project_view', project_id=project.id) }}">{{ project.name|truncate(30)  }}</a> <small>({{ project.users|length }})</small>
        </h2>
        <a title="{{ project.name }}" href="{{ url_for('web.project_view', project_id=project.id) }}"><img class="thumbnail img-responsive" src="{{ url_for('web.get_project_image', project_id=project.id) }}"></a>-->
    </div>
    {% endfor %}
   
    {% if not projects %}
    <div class="col-sm-6">
        <h2>There are any project yet</h2>
        </div>
    {% endif %}
    

</div>
<div class="row">
    <div class="col-sm-4">
         <div class="gray-bg block-wrapper">
            <div class="block-inner">
                <h3>
                ¿Qué son todos estos proyectos?
                </h3>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="gray-bg block-wrapper">
            <div class="block-inner">
                <p class="textos">
                    Todo este entrenamiento nos sirve para afrontar dos proyectos clave que desarrollaremos este otoño donde administraciones y ciudadanos intentan coordinarse para mejorar espacios educativos públicos. 
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
