{% extends "layout.html" %}
{% block title %}Autoconstrucci&oacute;n{% endblock %}
{% block navigation %}

{% endblock %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<div class="container" id="login-signin">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block" style="background-color:#556270">
                    <div style="text-align:center; padding:30px;" >
                        <img src="{{url_for('static', filename='img/logo1_transp.png')}}" >
                    </div>

                </div>    
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6" style="border-right: 1px dotted;">
                                <a href="#" class="active" id="login-form-link">Entrar</a>
                            </div>  
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Registrarse</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login_form" action="login" method="post" role="form" style="display: block;">
                                    {{ login_form.hidden_tag() }}
                                    {{ render_field(login_form.email) }}
                                    {{ render_field(login_form.password) }}
                                    {{ render_field(login_form.remember_me) }}

                                    {#<!-- <div class="form-group">
                                       <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Dirección de email" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Clave">
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Remember Me</label>
                                    </div> -->#}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Entrar">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="recover" tabindex="5" class="forgot-password">Has olvidado tu clave?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="register_form" action="/register" method="post" role="form" style="display: none;">
                                    {{ register_form.hidden_tag() }}
                                    {{ render_field(register_form.username) }}
                                    {{ render_field(register_form.email) }}
                                    {{ render_field(register_form.password) }}
                                    {{ render_field(register_form.confirm_password) }}
                                    {#<div class="form-group">
                                        <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder= "Tu nombre" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Dirección de email" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Clave">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Repite la clave">
                                    </div>#}

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="¡Listo!  ">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="textos dark" style="font-size:1em; margin:1em 4em;">
                                        *Al registrarte en la plataforma vas a recibir mensajes en tu email nuestros y podrás estar al tanto de todo lo que se cuece en los proyectos.
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
