<div class="container">
	<div class="footer">
		<div class="col-sm-4">
        <img src=" {{url_for('static', filename='img/logo1_transp.png')}} "></img>
		<a href="https://github.com/autoconstruccion/autoconstruccion"> <img src=" {{url_for('static', filename='img/forkme.png')}} "></img> </a>
		
	</div>
    <div class="col-sm-8">
    	<h5 style="text-align:left"> Un proyecto de:</h2>
        <p class="textos">

        		<a href="http://recetasurbanas.net"> <img src=" {{url_for('static', filename='img/logo_recetas.png')}} "></img> </a>
        		<a href="http://h4ckademy.com"> <img src="{{url_for('static', filename='img/logo_hackademy.png')}} "></img> </a>
        		<a href="http://inviable.is"> <img src=" {{url_for('static', filename='img/logo_inviable.png')}}"></img> </a>

        </p>
    </div>
	</div>
</div>