{% extends "layout.html" %}
{% block title %}Projects{% endblock %}

{% block body %}
<a href="{{ url_for('web.project_index') }}" class="btn btn-primary">Project index</a>


<h1>{{ project.name }}</h1>
<div class="row">
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#">
        <a title="{{ project.name }}" href="#"><img class="thumbnail img-responsive" src="{{ url_for('web.get_project_image', project_id=project.id) }}"></a>
    </div>

</div>

<h2>Description</h2>
<p>{{ project.description }}</p>

<h2>Events</h2>

<div class="row">
    {% for event in project.events %}

    <div class="col-lg-3 col-sm-4 col-xs-6">
        <h2>
            {{ event.name }}
        </h2>
        <a title="{{ event.name }}" href="{{ url_for('web.get_event', project_id=event.project_id, event_id=event.id) }}"><img class="thumbnail img-responsive" src="{{ url_for('web.get_project_image', project_id=project.id) }}"></a>
    </div>
    {% endfor %}

</div>

{% if not project.events %}
<p>There are any event yet</p>
{% endif %}

<p>
    <a href="{{ url_for('web.event_add', project_id=project.id) }}" class="btn btn-primary btn-large">add a new event</a>
</p>

<h2>Volunteers for this projects ({{ project.users|length }})</h2>
        <div class="list-group">
        {% for volunteer in project.users %}
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">{{ volunteer.full_name }}</h4>
            <p class="list-group-item-text">{{ volunteer.full_name }}</p>
          </a>
        {% endfor %}
        </div>
<p>
<a href="{{ url_for('web.project_join', project_id=project.id) }}" class="btn btn-primary btn-large">join to the project!</a>
</p>
{% endblock %}
