{% extends "layout.html" %}
{% block title %}Projects{% endblock %}

{% block body %}


<h1>{{ project.name }}</h1>

<p class="pull-right">
    <a href="{{ url_for('web.project_join', project_id=project.id) }}" class="btn btn-primary btn-lg">join to the project!</a>
</p>

<div class="row">
    <div class="col-lg-6 col-sm-4 col-xs-6"><a title="Image 1" href="#">
        <a title="{{ project.name }}" href="#">
            <img class="thumbnail img-responsive" src="{{ url_for('web.get_project_image', project_id=project.id) }}">
        </a>
    </div>
</div>

<h2>Description</h2>
<p>{{ project.description }}</p>


<h2>Localizacion</h2>
<div class="row">

    <div class="col-md-6">

    <a href="http://maps.google.com/maps?q={{ project.location|replace(' ','+')  }}" target="_blank">
         <img src="https://maps.googleapis.com/maps/api/staticmap?v=2&center={{ project.location|replace(' ','+') }}&size=400x200&zoom=15">
    </a>
        <address>
            <strong>Localizacion</strong><br>
            {{ project.location }}<br/>
        </address>

        <a href="http://maps.google.com/maps?q={{ project.location|replace(' ','+') }}" target="_blank">ver mapa<i class="fa fa-external-link fa-fw"></i></a>

    </div>

</div>

<h2>Events</h2>
<div class="row">

    {% for event in project.events %}
    <div class="col-sm-4">
        <div class="row">
            <div class="col-md-4">
                <h3><span class="label label-info">
                    <a title="{{ event.name }}" href="{{ url_for('web.get_event', project_id=event.project_id, event_id=event.id) }}">
                        {{ event.start_date }}
                    </a>
                </span></h3>
            </div>
            <div class="col-md-7">
                <strong>{{ event.name }}</strong><br>
                <em>{{ project.location }}</em><br>
                <span class="small">10:00 AM</span>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% if not project.events %}
<p>There are any event yet</p>
{% endif %}

<p>
    <a href="{{ url_for('web.event_add', project_id=project.id) }}" class="btn btn-primary btn-large">add a new event</a>
</p>

<h2>Volunteers for this projects ({{ project.users|length }})</h2>

<div class="list-group">

{% for volunteer in project.users %}
    <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">{{ volunteer.full_name }}</h4>
        <p class="list-group-item-text">{{ volunteer.full_name }}</p>
    </a>
{% endfor %}

</div>

        <div class="list-group">
        {% for volunteer in project.users %}
<div class="media">
    <a href="#" class="pull-left">        
      <img alt="64x64" data-src="holder.js/64x64" class="media-object img-thumbnail" style="width: 64px; height: 64px;" src="http://placehold.it/64x64">      
    </a>
    <div class="media-body">
      <h3 class="media-heading"><strong>{{ volunteer.full_name }}</strong></h3>
      <p class="small">Voluntario</p>
    </div>
</div>  

        {% endfor %}
        </div>

{% endblock %}


{% block script_custom %}
{% endblock %}
